<!DOCTYPE html>
<html>
  <head>
    <title>Panel</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="login-form-wrap d-flex align-items-center">
      <div class="container">
        <%= flash_messages %>
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
